<body>
    <header>
        <div class="category-label">Category</div>
        <div class="search">
            
            <input type="text" #search (keyup)="short(search.value)" placeholder="Search...">
        </div>
        <button id="add-category" routerLink="/home/addcategory">Add Category</button>
    </header>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead> 
        <tbody>
            <tr *ngFor="let item of catearr; let i=index">
           <td>{{i+1}}</td>
           <td>{{item.cname}}</td>
           <td>{{item.description}}</td>
           <td [ngClass]="{'active': item.status=='Active',  'inactive': item.status=='Inactive'}">{{item.status}}</td>
           <td>
            <img class="btn" (click)="edit(item.id)" src="./assets/edit.png" alt="button"> 
           <img class="btn" (click)="deleteprod(item.id)" src="./assets/delete.png" alt="button">
       </td>
           </tr> 
                          
        </tbody>
    </table>
</body>