body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-label {
    font-size: 20px;
}

.search {
    flex: 1;
    margin-left: 20em;
    padding: 10px;
}

#add-category {
    background-color: #662671;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#add-category:hover {
    background-color: #e218ac;
}

table {
    border-collapse: collapse;
    width: 100%;
    /* max-width: 800px; */
    margin: 20px auto;
}



th, td {
     border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
tr{
    background-color:   #F2F2F2;
    
}

th {
    background-color:   #FFF8B7 ;
    color: black;
}

.action-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #258cd1;
}
input{
    width: 80%;
    height: 28px;
    border-radius: 10px;
}

img{
    width: 50px;
    height: 50px;
    
}

.btn{
    margin-left: 10px;
    width: 20%;
    height: 10%;
    cursor: pointer;
}

.active{
    color:  #2DA323;
}
.inactive{
     color:  red;
}